{{#vendorExtensions.x-is-complex-query-param}}{{#is this 'query-param'}}{{#useBeanValidation}}{{>beanValidationQueryParams}} {{/useBeanValidation}}@BeanParam {{{dataType}}} {{paramName}}{{/is}}{{/vendorExtensions.x-is-complex-query-param}}