{{#is this 'form-param'}}{{#isNot this 'file'}}@FormParam(value = "{{baseName}}")  {{{dataType}}} {{paramName}}{{/isNot}}{{#is this 'file'}} @FormParam(value = "{{baseName}}") File {{paramName}}{{/is}}{{/is}}