{{#is this 'query-param'}}{{#is this 'primitive-type'}}{{#useBeanValidation}}{{>beanValidationQueryParams}} {{/useBeanValidation}}@QueryParam("{{baseName}}"){{#defaultValue}} @DefaultValue("{{{defaultValue}}}") {{/defaultValue}}{{{dataType}}} {{paramName}}{{/is}}{{/is}}